<p style="color: green"><%= notice %></p>

<div class="card text-center mx-auto" style="max-width: 600px;"> 
  <div class="card-body">
    <h5 class="card-title"><%= @client.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Age: <%= @client.age %></h6>
    <p class="card-text">Last Movie: <%= @client.movies.last %></p>
  </div>
</div>

<div class="text-center my-3"> 
  <%= link_to "Edit this client", edit_client_path(@client), class: "btn btn-secondary" %>
  <%= link_to "Back to clients", clients_path, class: "btn btn-light" %>
  <%= button_to "Destroy this client", @client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
